<%- layout('boilerplate') %>

    <h1>You are logged in</h1>
    <p>CONGRATULATIONS YOU MADE THIS FAR</p>
    <p>I hope you understood how we use the passportJS package and how it works</p>


    <a href="/">Back to Home</a>
    <div>
        <form action="/logout" method="POST">
            <button type="submit" class="">Logout</button>
        </form>
    </div>